<app-meni-bar></app-meni-bar>
<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
        <div class="col col-lg-4 col-md-3 col-sm-1 col-1"></div>
        <div class="col col-lg-4 col-md-6 col-sm-10 col-10">
          <div class="alert alert-light form">
            <div class="form-area">  
              <form role="form" #formPredmet="ngForm">
                <h3 style="margin-bottom: 25px; text-align: center;">Sto</h3>
                <div class="form-group">
                  <label>Broj stola</label>
                  <input type="text" class="form-control"  id="brojStola" name="brojStola" placeholder="brojStola" required [(ngModel)] = "newSto.brojStola">
                </div>
                <div class="form-group">
                  <label>Broj mesta</label>
                  <input type="text" class="form-control"  id="brojMesta" name="brojMesta" placeholder="brojMesta" required [(ngModel)] = "newSto.brojMesta">
                </div>
                <button  *ngIf="postojiDugme" type="button" [disabled]="!formPredmet.valid" id="submit" name="submit" class="btn btn-primary pull-right" (click)="add()">Dodaj</button>
                <button *ngIf="!postojiDugme" type="button" [disabled]="!formPredmet.valid" id="submit" name="submit" class="btn btn-primary pull-right" (click)="update()">Azuriraj</button>
                <button type="button" id="submit" name="submit" (click)="goBack()">Odustani</button>
              </form>
            </div>
          </div>  
        </div>
        <div class="col col-lg-4 col-md-3 col-sm-1 col-1"></div>
    </div>
  </div>
</div>
